body {
background-color: hsl(303, 100%, 85%), 100%, 85%);
color: black;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #fcdcf1;
color: rgb(7, 7, 7);
font-family: "Bai Jamjuree", sans-serif;
}