body {
background-color: hsl(303, 100%, 83%);
color: rgb(5, 0, 0);
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #f7ddf7;
color: rgb(2, 2, 2);
font-family: "Bai Jamjuree", sans-serif;
}